@model Meme

<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        <p><img class="img-responsive" src="@Model.Url" /></p>
        <p>Genre: @Model.Genre</p>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Detail</a>
    </div>
</div>