@model MemeDB.ViewModels.GenrePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Viewing @Model.Genre</h1>


@foreach (var meme in Model.Memes)
{
    @Html.Partial("_Summary", meme)
}

<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>
